:root {
  --color-scale-gray-2: #909dab;
  --color-scale-gray-3: #768390;
  --color-scale-gray-4: #636e7b;
  --color-scale-gray-5: #545d68;
  --color-scale-gray-6: #444c56;
  --color-scale-gray-7: #373e47;
  --color-scale-gray-8: #2d333b;
  --color-scale-gray-9: rgb(35, 40, 47);
}
